@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Timeistic</h1>
    <p class="lead">Timeistic is a simplistic app that allows you to track your activities through out the day.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Getting started?</h2>
        <p>
            Register an account here.
        </p>
        <button type="button" class="btn btn-light">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })</button>
    </div>
    <div class="col-md-6">
        <h2>Already a user?</h2>
        <p>Welcome back! You can login here.</p>
        <button type="button" class="btn btn-light">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</button>
    </div>
</div>